@model IEnumerable<RI.Application.ViewModels.Livro.LivroViewModel>

<title>Livros</title>
<div class="section"></div>
<div class="section"></div>

<div class="col s12">

    <div class="input-field col s1">
        <a class="btn-floating btn-large waves-effect waves-light carmesim" onclick="mostrarForm();"><i class="material-icons">add</i></a>
    </div>
    <div style="display: none" id="formularioLivro">
        <form id="especialidadeForm">
            <div class="row">
                <div class='input-field col s2'>
                    <input id="especialidade" type="text" class="validate" required>
                    <label for="especialidade">Código</label>
                    <span class="helper-text" data-success="Tudo certo!"></span>
                </div>
                <div class='input-field col s2'>
                    <input id="descricao" type="text" class="validate" required>
                    <label for="descricao">Descrição</label>
                    <span class="helper-text" data-error="Informe uma descrição!" data-success="Tudo certo!"></span>
                </div>
                <div class='input-field col s2'>
                    <input id="descricao" type="text" class="validate" required>
                    <label for="descricao">Sigla</label>
                    <span class="helper-text" data-error="Informe uma descrição!" data-success="Tudo certo!"></span>
                </div>
                <div class='input-field col s2'>
                    <input id="descricao" type="text" class="validate" required>
                    <label for="descricao">Descrição</label>
                    <span class="helper-text" data-error="Informe uma sigla!" data-success="Tudo certo!"></span>
                </div>
                <div class='input-field col s2'>
                    <input id="especialidade" type="text" class="validate" required>
                    <label for="especialidade">Ultima sequecia</label>
                    <span class="helper-text" data-success="Tudo certo!"></span>
                </div>
                <div class='input-field col s2'>
                    <input id="descricao" type="text" class="validate" required>
                    <label for="descricao">Sessão</label>
                    <span class="helper-text" data-error="Informe uma descrição!" data-success="Tudo certo!"></span>
                </div>
            </div>
            <div class="row">
                <div class='input-field col s2'>
                    <input id="descricao" type="text" class="validate" required>
                    <label for="descricao">Sigla</label>
                    <span class="helper-text" data-error="Informe uma descrição!" data-success="Tudo certo!"></span>
                </div>
                <div class='input-field col s2'>
                    <input id="descricao" type="text" class="validate" required>
                    <label for="descricao">Descrição</label>
                    <span class="helper-text" data-error="Informe uma sigla!" data-success="Tudo certo!"></span>
                </div>
                <div class="input-field col s2">
                    <select>
                        <option value="" disabled selected>Escolha uma opção</option>
                        <option value="0">Sim</option>
                        <option value="2">Não</option>
                    </select>
                    <label>Controla sequencia do livro</label>
                </div>
                <div class="input-field col s2">
                    <select>
                        <option value="" disabled selected>Escolha uma opção</option>
                        <option value="0">Sim</option>
                        <option value="2">Não</option>
                    </select>
                    <label>Sequencia ato zero</label>
                </div>

                <div class="input-field col s2">
                    <select>
                        <option value="" disabled selected>Escolha uma opção</option>
                        <option value="0">Sim</option>
                        <option value="2">Não</option>
                    </select>
                    <label>Tipo de livro TJ</label>
                </div>
                <div class="input-field col s2">
                    <select>
                        <option value="" disabled selected>Escolha uma opção</option>
                        <option value="0">Sim</option>
                        <option value="2">Não</option>
                    </select>
                    <label>Enviar DOI\EST</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s2">
                    <select>
                        <option value="" disabled selected>Escolha uma opção</option>
                        <option value="0">Sim</option>
                        <option value="2">Não</option>
                    </select>
                    <label>Apontar indisponibilidade</label>
                </div>
                <div class="input-field col s2">
                    <select>
                        <option value="" disabled selected>Escolha uma opção</option>
                        <option value="0">Sim</option>
                        <option value="2">Não</option>
                    </select>
                    <label>Controlar sequencia do ato</label>
                </div>
                <div class="input-field col s2">
                    <select>
                        <option value="" disabled selected>Escolha uma opção</option>
                        <option value="0">Sim</option>
                        <option value="2">Não</option>
                    </select>
                    <label>Sequencia ato inicial</label>
                </div>
                <div class="input-field col s2">
                    <select>
                        <option value="" disabled selected>Escolha uma opção</option>
                        <option value="0">Sim</option>
                        <option value="2">Não</option>
                    </select>
                    <label>Validar registro anterior</label>
                </div>
                <div class="input-field col s3">
                    <select>
                        <option value="" disabled selected>Escolha uma opção</option>
                        <option value="0">Sim</option>
                        <option value="2">Não</option>
                    </select>
                    <label>Permite descrever garantia</label>
                </div>
                <div class="input-field col s1">
                    <a class="btn-floating btn-large waves-effect waves-light" onclick="adicionarEspecialidade()"><i class="material-icons">add</i></a>
                </div>
            </div>
        </form>
    </div>
    <blockquote>
        Para cadastrar um novo livro basta clicar no botão acima.
    </blockquote>
    <blockquote>
        Selecione um item para editar.
    </blockquote>
    <div class="row">
        <div class='table-responsive' id="especialidadesGrid">
            <table id="livros">
                <thead>
                    <tr>
                        <th>Descrição</th>
                        <th>Sigla</th>
                        <th>Sessao</th>
                        <th>Ultima Sequencia utilizada</th>
                        <th>Enviar DOI</th>
                        <th>Apontar indisponibiidade</th>
                        <th>Tipo de livro TJ</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model is not null)
                    {

                        @foreach (var livro in Model)
                        {
                            string enviarDOI = livro.EnviarDOI ? "Sim" : "Não";
                            string Indisp = livro.Indisponibilidade ? "Sim" : "Não";
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => livro.Descricao)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => livro.Sigla)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => livro.Sessao)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => livro.UltimaSequenciaUtilizada)
                                </td>
                                <td>
                                    @enviarDOI
                                </td>
                                <td>
                                    @Indisp
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => livro.fk_tblWriLivroTJ)
                                </td>
                                <td>
                                    <a class="btn-floating btn-medium waves-light carmesim" onclick="editarLivro()"><i class="small material-icons">edit</i></a>
                                </td>

                                <td>
                                    <a class="btn-floating btn-medium waves-effect waves-light borgonha" onclick="excluirEspecialidade('');"><i class="material-icons">delete</i></a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div>
        <partial name="_ModalExcluir" />
    </div>
</div>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/Livro.js"></script>